@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d1d1b;
  color: white;
}

section{
  margin-left: 5%;
  margin-right: 5%;
}

.hometop{
  background-image: url("../public/icons/svg/Fonds/accueil.svg");
  background-position: center;
}